.host {
    --baseline-icon-limited-front: light-dark(#f09409, #f09409);
    --baseline-icon-limited-back: light-dark(#c6c6c6, #565656);
    --baseline-icon-widely-front: light-dark(#1ea446, #1ea446);
    --baseline-icon-widely-back: light-dark(#c4eed0, #125225);
    --baseline-icon-newly-front: light-dark(#1b6ef3, #4185ff);
    --baseline-icon-newly-back: light-dark(#a8c7fa, #2d509e);
    --baseline-icon-no_data: light-dark(#909090, #666666);
}

.host {
    width: 36px;
    height: 20px;
    display: inline-block;
}
